<ul>
    <li *ngFor="let user of users$ | async">
        <a (click)="onUserClick(user)" href="#"> {{ user.name }}</a>
    </li>
</ul>

<div *ngIf="activeUser$ | async as user">
    <p>Welcome User: {{user.name}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
</div>

<p>Albums</p>
<ul>
    <li *ngFor="let album of albums$ | async">
        <span> {{ album.title }}</span>
    </li>
</ul>


<p>Todos</p>
<ul>
    <li *ngFor="let todo of todos$ | async">
        <span> {{ todo.title }}</span>
    </li>
</ul>

